
@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');


*{
    margin: 0px;
}

body{
    font-family: 'Onest',Arial, Helvetica, sans-serif;
}

.box{
    width: 100%;
    height: 800px;
    border: 1px solid red;
    background-color: rgb(255, 255, 255);
    
}

#imagemRecife{
    width: 100%;
    height: 352px;
    background-image: url(image/recife_file.png);
    background-size: cover;
    
}

#tituloImagem{
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    height: 352px;
    display: flex;
    align-items: end;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.651);
    color: #ffffff;

}

#textoRecife{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    text-align: center;
}

#textoRecife{
    font-size: 2.5rem;
    margin-top: 100px;
}

/*  */